<div>
    <h2 data-translate="laakariApp.lcallbox.home.title">Lcallboxes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="lcallbox.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="laakariApp.lcallbox.home.createLabel">
                        Create new Lcallbox
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nom"><span data-translate="laakariApp.lcallbox.nom">Nom</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prenom"><span data-translate="laakariApp.lcallbox.prenom">Prenom</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateofbirth"><span data-translate="laakariApp.lcallbox.dateofbirth">Dateofbirth</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quatier"><span data-translate="laakariApp.lcallbox.quatier">Quatier</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mastersim"><span data-translate="laakariApp.lcallbox.mastersim">Mastersim</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sex"><span data-translate="laakariApp.lcallbox.sex">Sex</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lpoint.id"><span data-translate="laakariApp.lcallbox.lpoint">Lpoint</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lroute.id"><span data-translate="laakariApp.lcallbox.lroute">Lroute</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lcallbox in vm.lcallboxes track by lcallbox.id">
                    <td><a ui-sref="lcallbox-detail({id:lcallbox.id})">{{lcallbox.id}}</a></td>
                    <td>{{lcallbox.nom}}</td>
                    <td>{{lcallbox.prenom}}</td>
                        <td>{{lcallbox.dateofbirth | date:'mediumDate'}}</td>
                    <td>{{lcallbox.quatier}}</td>
                    <td>{{lcallbox.mastersim}}</td>
                    <td data-translate="{{'laakariApp.Sex.' + lcallbox.sex}}">{{lcallbox.sex}}</td>
                    <td>
                        <a ui-sref="lpoint-detail({id:lcallbox.lpoint.id})">{{lcallbox.lpoint.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="lroute-detail({id:lcallbox.lroute.id})">{{lcallbox.lroute.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="lcallbox-detail({id:lcallbox.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="lcallbox.edit({id:lcallbox.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="lcallbox.delete({id:lcallbox.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
