
<div ng-cloak>
    <div class="row">
       
        <div class="col">
            <h1 data-translate="" align="center">Welcome, Laakari!</h1>
            <p class="lead" data-translate="home.subtitle" align="center">This is your homepage</p>

           <div ng-switch="vm.isAuthenticated()" >
           <div class="col-md-5 col-md-offset-2" ng-switch-when="false" >
           
           </div>
                <div class="alert alert-success" ng-switch-when="true" data-translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                    You are logged in as user "{{vm.account.login}}".
                    
                </div>
                 <button class="btn btn-primary" ng-click="createuser()">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new SD
                    </span>
                </button>
                <table class="table table-responsive" ng-switch-when="true">
			    <thead>
			      <tr>
			        <th width="50%">module</th>
			        <th width="50%">indication</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr >
			        <td>
			           <div class="alert alert-success" ng-click="showModule(1)" ng-mouseover="showPopover(1)" ng-mouseleave="hidePopover()">
                          <span class="glyphicon glyphicon-globe gi-2x">{{accountManagement}}</span>
                       </div>
			        </td>
			        <td collspan=5>
				          <div    ng-mouseover="showPopover(1)" ng-mouseleave="hidePopover()">
						  more info
						</div>
						<div div  ng-show="popoverIsVisible">{{popoverContent}}</div>
			        </td>
			      </tr>
			      <tr>
			        <td>
                       <div class="alert alert-success"  ng-click="showModule(2)" ng-mouseover="showPopover(2)" ng-mouseleave="hidePopover()">
                       <span class="glyphicon glyphicon-map-marker gi-2x">{{zoneManagement}}</span>
                      </div>
                    </td> 
			      </tr>
			      <tr>
			        <td>
			            <div class="alert alert-success"  ng-click="showModule(3)" ng-mouseover="showPopover(3)" ng-mouseleave="hidePopover()">
	                     <span class="glyphicon glyphicon-envelope gi-2x">{{accountingManagement}}</span>
	                    </div>
			        </td> 
			      </tr>
			      <tr>
			        <td>
			          <div class="alert alert-success"  ng-click="showModule(4)" ng-mouseover="showPopover(4)" ng-mouseleave="hidePopover()">
	                     <span class="glyphicon glyphicon-earphone gi-2x">{{communication}}</span>
	                   </div>
			        </td> 
			      </tr>
			     
			    </tbody>
			  </table>
          
        </div>
        </div>
    </div>
</div>
 