<div>
    <h2 data-translate="laakariApp.ltransactions.home.title">Ltransactions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="ltransactions.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="laakariApp.ltransactions.home.createLabel">
                        Create new Ltransactions
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qte"><span data-translate="laakariApp.ltransactions.qte">Qte</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="datet"><span data-translate="laakariApp.ltransactions.datet">Datet</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vendeur"><span data-translate="laakariApp.ltransactions.vendeur">Vendeur</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="acheteur"><span data-translate="laakariApp.ltransactions.acheteur">Acheteur</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="luser.id"><span data-translate="laakariApp.ltransactions.luser">Luser</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lfacture.id"><span data-translate="laakariApp.ltransactions.lfacture">Lfacture</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ltransactions in vm.ltransactions track by ltransactions.id">
                    <td><a ui-sref="ltransactions-detail({id:ltransactions.id})">{{ltransactions.id}}</a></td>
                    <td>{{ltransactions.qte}}</td>
                    <td>{{ltransactions.datet | date:'medium'}}</td>
                    <td>{{ltransactions.vendeur}}</td>
                    <td>{{ltransactions.acheteur}}</td>
                    <td>
                        <a ui-sref="luser-detail({id:ltransactions.luser.id})">{{ltransactions.luser.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="lfacture-detail({id:ltransactions.lfacture.id})">{{ltransactions.lfacture.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="ltransactions-detail({id:ltransactions.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ltransactions.edit({id:ltransactions.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ltransactions.delete({id:ltransactions.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
