
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLtransactionsLabel" data-translate="laakariApp.ltransactions.home.createOrEditLabel">Create or edit a Ltransactions</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.ltransactions.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.ltransactions.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="laakariApp.ltransactions.qte" for="field_qte">Qte</label>
            <input type="number" class="form-control" name="qte" id="field_qte"
                    ng-model="vm.ltransactions.qte"
                    required />
            <div ng-show="editForm.qte.$invalid">
                <p class="help-block"
                    ng-show="editForm.qte.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.qte.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="laakariApp.ltransactions.datet" for="field_datet">Datet</label>
                <div class="input-group">
                    <input id="field_datet" type="text" class="form-control" name="datet" datetime-picker="{{dateformat}}" ng-model="vm.ltransactions.datet" is-open="vm.datePickerOpenStatus.datet"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('datet')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.datet.$invalid">
                <p class="help-block"
                    ng-show="editForm.datet.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.datet.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="laakariApp.ltransactions.vendeur" for="field_vendeur">Vendeur</label>
            <input type="text" class="form-control" name="vendeur" id="field_vendeur"
                    ng-model="vm.ltransactions.vendeur"
                    required />
            <div ng-show="editForm.vendeur.$invalid">
                <p class="help-block"
                    ng-show="editForm.vendeur.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="laakariApp.ltransactions.acheteur" for="field_acheteur">Acheteur</label>
            <input type="text" class="form-control" name="acheteur" id="field_acheteur"
                    ng-model="vm.ltransactions.acheteur"
                    required />
            <div ng-show="editForm.acheteur.$invalid">
                <p class="help-block"
                    ng-show="editForm.acheteur.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="laakariApp.ltransactions.luser" for="field_luser">Luser</label>
            <select class="form-control" id="field_luser" name="luser" ng-model="vm.ltransactions.luser" ng-options="luser as luser.id for luser in vm.lusers track by luser.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="laakariApp.ltransactions.lfacture" for="field_lfacture">Lfacture</label>
            <select class="form-control" id="field_lfacture" name="lfacture" ng-model="vm.ltransactions.lfacture" ng-options="lfacture as lfacture.id for lfacture in vm.lfactures track by lfacture.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
